
/* 
.CodeMirror-scroll{
    background: #1d1e22;
} */

.CodeMirror{
    height: 330px;
}
.CodeMirror-scroll{
    background: #1d1e22;
    border-radius: 5px;
    background-color: #000;
    box-shadow: 13px 13px 20px #cbced1,
                 -13px -13px 20px #ffffff;
}